
 <h1 class="text-center">Profile</h1>

 <hr>
 <div class="text-center">
 <h4><%= @user.firstname %> <%= @user.lastname%></h4>

<h5><strong>Birthday:</strong> <%= @user.date_of_birth %></h5>
<h5><strong>Gender:</strong> <%= @user.gender %></h5>
</div>
